*,
html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: 'Overpass', sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: auto;
  -moz-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
  text-size-adjust: auto;
  color: $black;
}

main {
  overflow: hidden;
  max-width: 100vw;
  padding-top: ($space * 4);
}

img,
video {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Aleo', sans-serif;
}

h1 {
  font-size: 48px;
  line-height: 1.25;

  @media (max-width: 767px) {
    font-size: 32px;
  }
}

h2 {
  font-size: 48px;
  line-height: 1;

  @media (max-width: 979px) {
    font-size: 38px;
  }

  @media (max-width: 767px) {
    font-size: 26px;
  }
}

h3 {
  font-size: 32px;
  line-height: 1.25;

  @media (max-width: 767px) {
    font-size: 22px;
  }
}

h4 {
  font-size: 24px;
  line-height: 1.5;

  @media (max-width: 767px) {
    font-size: 18px;
  }
}

form {
  display: block;

  [type='text'],
  [type='email'],
  [type='number'],
  [type='file'],
  select,
  textarea {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 28px;
    border: 1.5px solid $grey3;
    font-size: 24px;

    @media (max-width: 767px) {
      padding: 15px;
      font-size: 18px;
      margin-bottom: 15px;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, -20%, 0);
	}
}


// ----------- modal

.page-modal{
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: $space * 2;

  @media (min-width: 1600px){
    max-width: 1440px;
  }

} // page-modal

// mobile-hidden

.hidden-xs{
  display: inherit;

  @media (max-width: 767px){
    display: none;
    visibility: none;
  }
} // hidden-xs