// _____ Colours

$f: #ffffff;
$cyan: #288d87;
$grey: #88888a;
$grey2: #636364;
$grey3: #dfdfdf;
$grey4: #3f4041;
$black: #131916;
$lightGrey: #ecebed;
$lighterGrey: #edf6f5;
$white: $f;

// _____ Common

$space: 16px;

$zindex-xs: 1;
$zindex-sm: 2;
$zindex-md: 3;
$zindex-lg: 4;
$zindex-xl: 5;