mixin applyNow(pathPrefix)
  section.join-convert
    .container
      .d-flex.align-items-center
        img(src=`${pathPrefix}assets/img/domains/join-us.jpg`, alt="study work table", width="401px")
        div
          h3 Convert your research to a solution.
          p.subtext Convert research solutions to scalable, affordable, and sustainable technology
          button.link.button-unstyled(type="button", onclick="toggleApplyModal(event);") Apply now
