-
  var domains = [
    {
      id: 0,
      title: 'Agriculture Automation & Information systems',
      description: 'The domain emphasises on sustainable data collection with affordable sensing infrastructure, data analysis with state of the art AI/ML methods, and distribution of the information with an adaptive human-computer interface for decision support and task automation.',
      image: 'assets/img/domains/illustrations/information-systems.jpg',
      imageFull: 'assets/img/domains/illustrations/information-systems-full.jpg',
      href: 'r&d-domains/agriculture-automation-and-information-systems/',
      icon: {
        default: 'assets/img/domains/icons/information-systems.png',
        active: 'assets/img/domains/icons/information-systems-filled.png',
      },
      researchAnalysis: [
        {
          title: 'Decoupled Crop Surveillance',
          description: 'Receiving information is the key to a cyber-physical system, and particularly important for crop surveillance and monitoring systems. The sensors capture environmental, crop, and activities taking place on the farm. The goal of this project is to decouple the sensing infrastructure from farms and provide <i>surveillance as a service</i> using modern sensors such as UAV, Satellite, Robots, etc.',
        },
        {
          title: 'Big Data Analytics with AI/ML',
          description: 'Due to the enormous spatial size of the farmland and regular interval of data-sensing makes the big data analytics challenging and costly. The overall cost includes the cost of storage, transmission, and computing resources. The goal of this project is to build affordable AI/ML solutions to help farmers in agriculture automation, decision support, precision agriculture, and market analysis.',
        },
        {
          title: 'Web platform and HCI',
          description: 'Farmers are not technology savvy. Most of the farmers find it difficult to use technological devices. In developing countries, farmers may even not be familiar with the English language. The aim of this project it to build human-computer-interface (HCI) that are farmer-friendly. Particularly we intend to consider the local culture in choosing the interface modality and structure.',
        },
        {
          title: 'Sustainable Hardware',
          description: 'Due to the vast fields, replacing batteries in sensors, wireless devices, and micro-controllers is a challenging task. Therefore, it is beneficial that battery requirements are minimized in computational and sensor devices deployed on the field. However, the state of the art of AI/ML algorithms have a huge computational requirement. Therefore, we aim to build custom electronic hardware solutions that are cheap efficient, specifically for precision agriculture and monitoring tasks.',
        },
      ],
      members: [
        {
          avatar: '../../assets/img/team/mukesh.png',
          name: 'Dr. Mukesh K. Saini',
          position: 'Agriculture Automation & Information systems',
          links: {
            linkedin: 'https://www.linkedin.com/in/mukesh-saini-052a1644/',
            website: 'https://cse.iitrpr.ac.in/mukesh/',
            email: 'mailto:mukesh@iitrpr.ac.in',
          }
        },
        {
          avatar: '../../assets/img/team/neeraj.png',
          name: 'Dr. Neeraj Goel',
          position: 'Agriculture Automation & Information systems',
          links: {
            linkedin: 'https://www.linkedin.com/in/neerajgoel/',
            website: 'https://sites.google.com/view/neerajgoel',
            email: 'mailto:neeraj@iitrpr.ac.in',
          }
        },
      ],
    },
    {
      id: 1,
      title: 'IoT Systems',
      description: 'IoT is the backbone of most agriculture CPS systems. IoT prototypes do not automatically scale to large IoT systems. One should understand the problems associated with the system development processes before attempting to go from prototype to large scale systems. We aim to build scalable IoT solutions for management and tracking of agriculture products.',
      image: 'assets/img/domains/illustrations/iot-systems.jpg',
      imageFull: 'assets/img/domains/illustrations/iot-systems-full.jpg',
      href: 'r&d-domains/iot-systems/',
      icon: {
        default: 'assets/img/domains/icons/iot-systems.png',
        active: 'assets/img/domains/icons/iot-systems-filled.png',
      },
      researchAnalysis: [
        {
          title: 'IoT system to monitor the food items during transit',
          description: 'It is essential to maintain the optimal temperature of food during transport, but for fruit and vegetables, it is even more critical to track humidity. Apart from temperature and humidity, indications of light exposure or vibrations are also essential to monitor. We are planning to develop an end node that provides regular data regarding the shipments location, temperature, humidity, and other factors that effects food.',
        },
        {
          title: 'IoT system for stock level inspection',
          description: 'Monitoring the levels of agriculture stocks is very important. Usually, inspection is done by visual, and it has several challenges, specifically, that it can be extremely time-consuming. Therefore there is a requirement of developing and deploying IoT measurement devices for smart silo stock estimations in order to minimize these issues. We are planning to develop low-cost, high-performance IoT modules to monitor stock levels.',
        },
        {
          title: 'IoT system for a warehouse that stores sensitive food items',
          description: 'Food stuffs such that meat, fish fruit vegetables are kept in the warehouse so that they remain fresh. The ambient conditions such that temperature, humidity affects a lot to these sensitive food items. For example, a humid ambiance dries out the food, and many more. Thus, a low-cost, low maintenance cost device needed for a warehouse that stores sensitive food items.',
        },
      ],
      members: [
        {
          avatar: '../../assets/img/team/suman.png',
          name: 'Dr. Suman Kumar',
          position: 'IoT Systems',
          links: {
            linkedin: 'https://www.linkedin.com/in/suman-kumar-701646166/',
            website: 'https://www.iitrpr.ac.in/Dr.suman/',
            email: 'mailto:suman@iitrpr.ac.in',
          }
        },
      ],
    },
    {
      id: 2,
      title: 'Water Treatment & Management',
      description: 'Water treatment and management domain deals with the water quality assessment, treatment and management using IoT enabled nanobubble based advanced oxidation, aeration, aerobic digestion and dissolved air flotation unit in wastewater and comparing its performance with the existing methods.',
      image: 'assets/img/domains/illustrations/water-treatment.jpg',
      imageFull: 'assets/img/domains/illustrations/water-treatment-full.jpg',
      href: 'r&d-domains/water-treatment-and-management/',
      icon: {
        default: 'assets/img/domains/icons/water-treatment.png',
        active: 'assets/img/domains/icons/water-treatment-filled.png',
      },
      researchAnalysis: [
        {
          title: 'Design and development of IoT enabled nano-bubble technology units for water treatment',
          description: 'This research project deals with IoT in nanobubble based advanced oxidation, aeration, aerobic digestion and dissolved air flotation unit in wastewater treatment and comparing its performance with the existing unit. The rate of gas-liquid mass transfer is very crucial and essential for processes like aeration, advanced oxidation, and aerobic digestion, in wastewater treatment. The underlying principle behind the enhancement of the gas-liquid mass transfer is due to the high interfacial area and the high gas hold-up at nanoscale bubbles. This may lead to a reduction in the operating time of the process, and thus it is expected to be more economical.',
        },
        {
          title: 'Monitoring and treatment of rural domestic wastewater for aquaculture and irrigation using IoT enabled nanobubble technology',
          description: 'The significant contaminants in wastewater are oxygen-demanding waste indicated by higher BOD levels. It is to be noted that this water not only leads to deterioration of groundwater quality but also, severely affects agriculture production as it is used for irrigation purposes. One of the main objectives of this project are to develop a IoT enabled treatment technology using micro-nano bubbles. The fine solids, particulate matters, oil, etc., can be separated by absorbing at the charged bubble interface. Besides, it also sterilizes the microorganisms and degrades organic matters due to the generation of free radicals during the collapse of microbubbles.',
        },
        {
          title: 'IoT enabled system for irrigation of nanobubble water in agriculture',
          description: 'The recent development of nanobubble technology in aquaculture and hydroponic system leads significant contribution toward food security. Enabling IoTs in conjunction with nanobubble technology in agriculture irrigation system essentially promotes the plant growth and nutrient value significantly. In addition, nanobubble technology also enhance the seed germination rate.',
        },
        {
          title: 'Post-harvest cleaning of crops to eliminate pesticides integrated with IoTs',
          description: 'Several pesticides have been identified in the blood samples of Punjab farmers that has been linked to elevated health risk. One among those was Monocrotophos, a widely used organophosphate pesticide. The objectives of this project to use the nanobubble technology for cleaning vegetable and fruits at farm level.',
        },
      ],
      members: [
        {
          avatar: '../../assets/img/team/neelkanth_nirmalkar.png',
          name: 'Dr. Neelkanth Nirmalkar',
          position: 'Water Treatment & Management',
          links: {
            linkedin: 'https://www.linkedin.com/in/neelkanth-nirmalkar-793800171/',
            //- website: '#!',
            email: 'mailto:n.nirmalkar@iitrpr.ac.in',
          }
        },
      ],
    },
    {
      id: 3,
      title: 'Water & Soil Assessment Processes',
      description: 'Water and Soil Quality Assessment Processes domain aims at developing and utilizing cyber physical system enabled tools to address environmental quality issues pertaining to agriculture and water domain that are of regional and national importance, including eco-friendly technologies for soil and groundwater contaminant remediation, impact assessment of natural and/or anthropogenic activities, and soil/water quality assessment.',
      image: 'assets/img/domains/illustrations/water-soil.jpg',
      imageFull: 'assets/img/domains/illustrations/water-soil-full.jpg',
      href: 'r&d-domains/water-and-soil-assessment-processes/',
      icon: {
        default: 'assets/img/domains/icons/water-soil.png',
        active: 'assets/img/domains/icons/water-soil-filled.png',
      },
      researchAnalysis: [
        {
          title: 'Impact of stubble burning on regional environmental quality',
          description: 'A significant portion of the crop residues in Punjab and Haryana ends in open field burning. Subsequent environ- mental problems related to the practice of post-harvest burning of crop-residues in agricultural fields mainly include, among others, emission of hazardous air pollutants and deposition of vast amounts of biochar in soil. Our goal is to employ CPS technology to build a framework to assess the impact of stubble burning on environment quality.',
        },
        {
          title: 'Assessment of pesticide usage on groundwater quality',
          description: 'The groundwater quality scenario has numerous challenges to be addressed as it can have a huge impact on agricultural production, human health, and the environment. Scientific literature indicates that the quality of groundwater in Punjab region has been marred by both geological and anthropogenic causes, such as pesticide usage in agriculture, industrial wastewater, etc. The aim of this project is to comprehensively understand and provide technological solutions that can cater to the regional water quality-related issues.',
        },
        {
          title: 'Irrigation optimization using soil moisture and water quality sensor network',
          description: 'The objective of this proposal is pinned around the understanding of the effect of nanobubbles on the various necessary process of the wastewater treatment, namely aeration, advanced oxidation process, aerobic digestion, and dissolved air flotation. IoTs technology further adds values to designing the select units in terms of energy saving to optimize irrigation.',
        },
        {
          title: 'Setting up of an accredited state-of-art laboratory (Soil and water quality, Geospatial technology)',
          description: 'To implement the various projects related to water and soil quality monitoring, and remediation of contaminants, establishing state-of-art accredited water and soil quality laboratories along with capabilities to perform the geospatial analysis is essential. The aim of this project is to establish a sophisticated state-of-art soil and water quality lab facilities to cater to national agricultural and water-related technological challenges.',
        },
      ],
      members: [
          {
          avatar: '../../assets/img/team/vijay.png',
          name: 'Dr. L. Vijay Anand',
          position: 'Water & Soil Assessment Processes',
          links: {
            //- linkedin: '#!',
            website: 'https://www.iitrpr.ac.in/vijayanand',
            email: 'mailto:vijayanand@iitrpr.ac.in',
            }
          },
      ],
    },
    {
      id: 4,
      title: 'Stubble Management Systems & Urban Farming',
      description: 'Stubble Management Systems and Urban Farming domain focus on the removal of stubble, post-harvest usage of waste created, urban farming and development of new machines for agriculture. The aim is to create novel and sustainable system for Indian continent with reuse of crop residues (such as bio-char development or paper making), and land resource development in urban areas (such as vertical farming, hydroponics, etc.).',
      image: 'assets/img/domains/illustrations/stubble-management-system.jpg',
      imageFull: 'assets/img/domains/illustrations/stubble-management-system-full.jpg',
      href: 'r&d-domains/stubble-management-systems-and-urban-farming/',
      icon: {
        default: 'assets/img/domains/icons/stubble-management-system.png',
        active: 'assets/img/domains/icons/stubble-management-system-filled.png',
      },
      researchAnalysis: [
        {
          title: 'Stubble Removing Machine (SRM)',
          description: 'There are many limitations of currently used machines in India, which force farmers for stubble burning. In the first category machines, the major limitation is the requirement of great human efforts. Because of the higher amount of stubble, it is harder to mix it into the soil. The second limitation is the high cost for maintenance and purchasing. We aim to design and develop cost-effective machines, techniques, and policies to tackle that burning problem.',
        },
        {
          title: 'IoT enabled Harvester cum Bailer machine for Stubble Management',
          description: 'In this project, our aim is to modify the traditional harvester and enhance it with the IoT for remote operations and communication. The harvester would harvest the crop, collect the stubbles, bale it, and store the bales in a single operation. There are machines to do these processes, but in the purposed harvester, the baling process would be done together with the harvesting of crops. The system would be an all in one solution for the current stubble burning and management issue.',
        },
        {
          title: 'Urban Farming: Technology for the Advancement of Land Resource',
          description: 'In order make the urban farming profitable for the grower and to make it feasible to everyone with small or big living area, it is essential to develop technology and resources which are modular, economical and easy-to-adopt. Hydroponics and Aquaponics are most suitable for the cultivation in urban settings and can be easily possible to adopt even in small houses. In the domain of vertical urban farming, the monitoring of the watering system, room temperature, and soil condition is very crucial for the excellent condition of the plants as these parameters are of great importance to keep the crops in good shape.',
        },
      ],
      members: [
        {
          avatar: '../../assets/img/team/prabir.png',
          name: 'Dr. L. Prabir Sarkar',
          position: 'Stubble Management Systems & Urban Farming',
          links: {
            linkedin: 'https://www.linkedin.com/in/prabir-sarkar-73984618/',
            website: 'https://sites.google.com/iitrpr.ac.in/mechanical/faculty-profiles-detailed/prabir-sarkar?authuser=0',
            email: 'mailto:prabir@iitrpr.ac.in',
          }
        },
      ],
    },
    {
      id: 5,
      title: 'Nuclear Applications in Agriculture & Water',
      description: 'Nuclear application in agriculture and water aim to identify the sources of soil/water contamination by radioactive pollutants, determine the distributions of naturally occurring and artificially infused radioisotopes, and to develop advanced chemical/physical methods and techniques to remove the radio-contamination from the soil and water, and food irradiation for self life enhancement of agri products.',
      image: 'assets/img/domains/illustrations/nuclear-applications.jpg',
      imageFull: 'assets/img/domains/illustrations/nuclear-applications-full.jpg',
      href: 'r&d-domains/nuclear-applications-in-agriculture-and-water/',
      icon: {
        default: 'assets/img/domains/icons/nuclear-applications.png',
        active: 'assets/img/domains/icons/nuclear-applications-filled.png',
      },
      researchAnalysis: [
        {
          title: 'AI/CPS powered Food Irradiation facility',
          description: 'In this project we use the radioactive technology to irradiate food products to make them safer and more resistant to spoilage. Irradiation process destroys insects, fungi that cause food to spoil, or bacteria that cause food borne illness. Irradiation makes it possible to keep food a longer duration and in better condition. It is important to note here that the irradiated food does NOT become radioactive. At the doses prescribed, it is impossible for the beta, gamma, or x-rays to transmute the food stuff into radioactive substance.',
        },
        {
          title: 'Application of N-15 isotope to evaluate nitrogen absorption efficiency of plants',
          description: 'Using N-15 isotope enables the assessment of how much nitrogen crops can acquire from the environment through a process known as biological nitrogen fixation. By attaching radio-tracers in known quantities and varieties of fertilizers, it is possible to determine the efficiency of associated nutrients as the labelled products are absorbed in critical locations in the plant. This technique can be used to substantially optimize the quantity of fertilizer required to produce high production yields, and thus reducing the farming cost and minimizing the environ- mental damage and contamination of soil/water.',
        },
        {
          title: 'Development of Hybrid SIT technology for the eradication of pests',
          description: 'On the farms, particularly in the countries with a hot and humid climate like India, unwanted insects can lead from substantial irritations to livestock to the complete devastation of crops. One of the proven ways to use nuclear technology in controlling or even eradicating unwanted insects is the sterile insect technique (SIT). Hybrid SIT involves rearing a sizeable male population of the unwanted insects, subjecting the un-hatched eggs to sufficient levels of gamma irradiation to achieve sexual sterilization but leaving other capabilities of the insects unchanged, and then releasing the hatched sterilized male insects into the native environment.',
        },
      ],
      members: [
        {
          avatar: '../../assets/img/team/pps.png',
          name: 'Dr. Pushpendra P. Singh',
          position: 'Nuclear Applications in Agriculture & Water',
          links: {
            linkedin: 'https://www.linkedin.com/in/pushpendra-p-singh-173a1615/',
            website: 'https://www.iitrpr.ac.in/physics/p/research.html?cat=0&id=70',
            email: 'mailto:pps@iitrpr.ac.in',
          }
        },
      ],
    },
  ];
