-
  var publications = [
    {
      image: 'assets/img/noise.png',
      title: 'Online Internship Carnival',
      excerpt: 'In the framework of National Mission on Interdisciplinary Cyber Physical System',
      link: {
        href: 'https://awadh.iitrpr.ac.in/nmicps/index.html',
        label: 'Know more',
      },
    },
    {
      title: 'IIT Ropar Ties Up With Dassault Systemes To Support Online Internships',
      excerpt: 'AWaDH has tied up with a firm named Dassault Systemes to support a eight-week long online internship carnival',
      image: 'assets/img/news/ndtv.svg',
      link: {
        href: 'https://www.ndtv.com/education/iit-ropar-ties-up-dassault-systemes-support-online-internships',
        label: 'Read more',
      },
    },
    {
      title: 'Dassault, IIT Ropar Jointly Offer Virtual Internship in Agriculture, Water Issues',
      excerpt: 'Starting from May 24, the virtual internship will nurture 100 individuals across 20 teams. The winning teams from this program, will be offered paid internships for six months',
      image: 'assets/img/news/news18.svg',
      link: {
        href: 'https://www.news18.com/news/education-career/dassault-iit-ropar-jointly-offer-virtual-internship-in-agriculture-water-issues-3730550.html',
        label: 'Read more',
      },
    },
    {
      title: 'Dassault Systemes and IIT Ropar Join Hands to Drive Student Led Innovation and Research on Agriculture and Water',
      excerpt: 'Dassault Systems has associated with IIT Ropar’s AWaDH to support the university’s Online Internship Carnival',
      image: 'assets/img/news/dcc.png',
      link: {
        href: 'http://www.dailycadcam.com/dassault-systemes-and-iit-ropar-join-hands-to-drive-student-led-innovation-and-research-on-agriculture-and-water/',
        label: 'Read more',
      },
    },
    {
      title: 'Centre grants Rs110 crore for setting up technology hub at IIT Ropar',
      excerpt: 'The innovation centre is aimed to bring solutions for stubble management, water quality improvement, mapping of hazardous substances in water and soil, and their treatment',
      image: 'assets/img/hindustan-times.png',
      link: {
        href: 'https://www.hindustantimes.com/education/centre-grants-rs110-cr-for-setting-up-technology-hub-at-iit-ropar/story-dKzifJBLxodVgfseQl8MJI.html',
        label: 'Read more',
      },
    },
    {
      title: 'DST approves 110 crores to IIT Ropar for setting up a national hub to develop technologies for agriculture & water',
      excerpt: 'In an exemplary decision, the Department of Science & Tehnology (DST), Government of India, has approved a sum of Rs. 110 crores to set up a Technology Innovation Hub (TIH) in the domain of Agriculture & Water Technology Development Hub (AWaDH)',
      image: 'assets/img/times-of-india.png',
      link: {
        href: 'https://timesofindia.indiatimes.com/home/education/news/dst-approves-110-crores-to-iit-ropar-for-setting-up-a-national-hub-to-develop-technologies-for-agriculture-water/articleshow/77440768.cms',
        label: 'Read more',
      },
    },
    {
      title: 'Centre grants Rs 110 crore for setting up technology hub at IIT Ropar',
      excerpt: 'The central government has approved Rs 110 crore to set up a technology innovation hub at IIT, Ropar, the premier engineering institute said.',
      image: 'assets/img/business-standard.png',
      link: {
        href: 'https://www.business-standard.com/article/education/centre-grants-rs-110-crore-for-setting-up-technology-hub-at-iit-ropar-120080801098_1.html',
        label: 'Read more',
      },
    },
    {
      title: 'IIT Ropar to get Rs 110 crore for technology innovation hub',
      excerpt: 'The innovation centre, besides aiming to make agriculture a profitable industry with highly optimised resource intake, will also aim at stubble management, water quality improvement, mapping of hazardous substances in soil and water and treatment and deployment of cyber-physical system technologies in farming fields.',
      image: 'assets/img/abp-education.png',
      link: {
        href: 'https://www.abpeducation.com/news/iit-ropar-to-get-rs-110-crore-for-technology-innovation-hub-1.1187672',
        label: 'Read more',
      },
    },
  ];
