mixin socialLinks(pathPrefix)
  ul.social-links
    li 
      a(href="https://www.facebook.com/AWaDH-IITRPR-111980864038867") 
        img(src=`${pathPrefix}assets/img/icon-filled-facebook.svg`, alt="facebook")
    li 
      a(href="https://www.instagram.com/awadh_iitrpr/") 
        img(src=`${pathPrefix}assets/img/icon-filled-instagram.svg`, alt="instagram")
    li 
      a(href="https://www.linkedin.com/company/awadh-iitrpr/") 
        img(src=`${pathPrefix}assets/img/icon-filled-linkedin.svg`, alt="linkedin")
    li 
      a(href="https://www.youtube.com/channel/UCLWb5Is83u92EOS-x-mlUvA") 
        img(src=`${pathPrefix}assets/img/icon-filled-youtube.svg`, alt="youtube")
