include ../../components/_mixins.pug
doctype html
html(lang="en")
  head
    +headMeta('../../', `${domains[1].title} | AWaDH - Indian Institute of Technology Ropar`)
  body

    +nav('../../')

    +domainDetail(1)

    +footer('../../')

    script(src="../../assets/js/main.js")
